<h2>List of Images</h2>
<ul class="ImagesContent">
  <button (click)="UpDirectory()" type="button">Upper Directory</button>
  <li *ngFor="let directory of directoryList; let i = index">
    <button id= "{{i}}" value="{{directory.name}}" (click)="ChangeDirectory(i)" type="button" ng-bind="ChangeDirectoryButton">
      <span class="name">{{directory.name}}</span>
    </button>
  <li *ngFor="let image of imageList, let u = index">

    <span id= "{{u}}" class="name">{{image.name}}</span>
    <input id= "{{u}}" type="checkbox">
    <img [src]="image.base64encode">
    <!--<span id= "{{u}}" class="encode">{{image.base64encode}}</span>-->
    
  </li>
  <button (click)="Delete()">Delete</button>
  <button (click)="Rename()">Rename</button>
  <div class="frame">
    <input type="text" class="recipient" [(ngModel)]="fileToCreate" placeholder="file to create"/>
    <button (click)="Create()">create</button>
 </div>

</ul>

