<h2>List of Images</h2>
<ul class="ImagesContent">
  <button class="mange" id= "test" (click)="reload()" type="button">reload</button>
  <button (click)="UpDirectory()" type="button">Upper Directory</button>
  <li *ngFor="let directory of directoryList; let i = index">
    <button id= "{{i}}" value="{{directory.name}}" (click)="ChangeDirectory(i)" type="button" ng-bind="ChangeDirectoryButton">
      <span class="name">{{directory.name}}</span>
    </button>
  <li *ngFor="let image of imageList">
    <span class="name">{{image.name}}</span>
    <span class="encode">{{image.base64encode}}</span>

  </li>
</ul>

